<nav class="nav">
  <a mat-icon-button class="nav-title" routerLink="/">
   <span>GM</span>
  </a>

 <span class="nav-spacer"></span>
<!-- The humburger menu will be displayed in smaller size screens -->
 <span class="hamburger" (click)="toggleMenu()">
      <mat-icon class="humburger-icon">{{ isMenuOpen ? "close" : "menu" }}</mat-icon>
  </span>
  <!-- Navigation links -->
<div class="nav-menu" [class.is-open]="isMenuOpen">
  <a routerLink="" active-current="page" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}" (click)="toggleMenu()">Home</a>
  <a routerLink="about" routerLinkActive="active-link" (click)="toggleMenu()">About</a>
</div> 
</nav>