<!-- log in section -->
<mat-card class="login-container">
    <!-- title -->
    <mat-card-title>Log In</mat-card-title>
    <mat-card-content>
        <!-- google log in buttons -->
        <div class="login-buttons" id="google-btn">
        </div>
        <!-- sign up, reset, terms and condition section -->
        <p class="terms">By 'logging in', you are agreeing to terms and services of Good Memories.</p>
        <p class="reset-password">Forgot password?<a href="">Reset</a></p>
        <p class="sign-up">Do you have an account? <a href="">Sign up</a></p>
    </mat-card-content>
</mat-card>
