<!-- Banner section -->
<div class="banner">
    <div class="banner-title">
        <h1 class="title">Good Memories - The Place to keep</h1>
        <p class="slogan">Capture everything, Miss nothing,<br> Access it anytime anywhere</p>
    </div>
    <div class="banner-image">
       <div class="image"></div>
    </div>
</div>
<!-- About summary section -->
<div class="about">
    <div class="about-image">
        <div class="image"><img src="../../assets/images/camera.png" alt="camera"></div>
    </div>
    <div class="about-sum">
        <h1 class="about-sum-title">About Good Memories</h1>
        <p class="about-sum-context">Good Memories prides itself in providing a well curated services for your photos. it is end to end encripted with privacy at the forefront of the development and service delivery.<br>We provide cloud storage services that is free of ads and customizable to specific needs of the client.</p>
    </div>
</div>