/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
     margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
     color: #3e0147;
     background-image: linear-gradient(to right top, #9be4c0, #aee6ca, #c0e8d4, #d2eade, #e3ebe7);
     background-repeat: no-repeat;
    }

