/* Album section sylyes */
.albums-container {
    margin: 0 auto;
    width: 90%;

    /* Album title sylyes */
    .album-title-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

     /* Album cards sylyes */
    .album-user-container {
        width: 100%;

        .album-user-title {
            margin: 1.5rem auto;
        }

        .album-block {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-auto-rows: 1fr;
            gap: 1.5rem;
        }

        .album-card {
            aspect-ratio: 1 / 1;
            background-color: lightblue;
        }

        a {
            text-decoration: none;
            box-shadow: 0 4px 8px 0px #A10784, 0 6px 20px 0 rgba(94, 1, 97, 0.19);
            transition: transform .3s;
            border-radius: 4px;
        }

        a:hover {
            transform: scale(1.1);
            box-shadow:  6px 10px #A10784;
            border-radius: 4px;
        }

        mat-card {
            max-width: 250px;

            span {
                font-weight: 500;
            }

            mat-card-actions {
                display: none;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}